@charset "UTF-8";
/*=======================
メインカラム
=======================*/
@use "../foundation/forwords" as fw;

.l-main{
    background-color: fw.$color--white;
    padding-top: 83px;//ヘッダーにposition:fixdを指定しているので、ヘッダーの高さ分
    @include fw.mq("tab"){
        padding-top: 85px;
        @include fw.mq("pc"){
            padding-top: 91px;
        }
    }
}