@charset "UTF-8";
/*=============================
フォントファミリー ・フォントウェイト
  =============================*/
    @use "../../foundation/forwords" as fw;


.c-font--tsukuarg200{
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 200;
}

.c-font--tsukuarg300{
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 300;
}

.c-font--nunito200{
  font-family: "Nunito";
  font-weight: 200;
}
.c-font--nunito300{
  font-family: "Nunito";
  font-weight: 300;
}
