@charset "UTF-8";
/*=============================
Contactフォーム
=============================*/
@use "../../foundation/forwords" as fw;
@use "sass:math";

.wpcf7-form {
  @include fw.mq("tab"){
    max-width: 440px;
    margin: 0 auto;
  }

  p{
    label{
      & .required{
        content: "必須";
        font-size: fw.rem( 14 );
        margin-left: fw.rem( 8 );
        padding: 0 fw.rem( 12 );
        background: fw.$color--yellow;
        border-radius: 6px;
      }
    }

    /* すべての入力フィールドとボタンに対するフォーカススタイル */
    input:focus,
    textarea:focus,
    select:focus,
    .wpcf7-submit:focus {
      outline: 2px solid fw.$color--blue;
      outline-offset: 2px;
    }
  }

  p:not(:last-of-type){
    display: flex;
    flex-direction: column;
    margin-bottom: fw.rem( 12 );
    .wpcf7-form-control-wrap{
      display: block;
      margin-top: fw.rem( 4 );
    }
    input,
    textarea{
      width: 100%;
      background: fw.$color--white;
      border: 1px solid fw.$color--black;
      border-radius: 6px;
      padding: fw.rem( 7 ) fw.rem( 20 );
    }
    input[name="policy"]{
      width: auto;
    }
  }

  p:nth-last-of-type(2){
    margin-bottom: fw.rem( 32 );
    a{
      margin-top: fw.rem( 4 );
      margin-left: 1em;
      text-decoration: underline;
      text-underline-offset: fw.rem( 4 );
      text-decoration-thickness: 1px;
    }
  }

  p:last-of-type{
    input{
      display: block;
      margin: 0 auto;
      background: fw.$color--yellow;
      border-radius: 6px;
      padding: fw.rem( 8 ) fw.rem( 40 );
    }
  }
  
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
  padding: 0.5em 1em;
  border: none;
  background-color: fw.$color--yellow;
  border-radius: 6px;
}