@charset "UTF-8";
/*=======================
グローバルナビ
=======================*/
@use "../../foundation/forwords" as fw;
@use "sass:math";

.p-header__menu{
  height: 50px;
  position: relative;
  @include fw.mq("tab"){
    height: inherit;
  }

  .p-gmenu{
    transition: all 300ms 0s ease;
    width: fw.sp-vw( 160 );
    height: 100vh;
    padding: 83px 0 0;
    position: fixed;
    top: 0;
    background: fw.$color--white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    overflow-y: auto;
    left: 100%;
    @include fw.mq("tab"){
      width: inherit;
      height: inherit;
      padding: inherit;
      position: static;
      background: inherit;
      flex-direction: row;
      transition: inherit;
      gap: fw.rem( 10 );
    }

    &__item{
      font-weight: 200;
      width: 100%;

      a{
        display: block;
        background: beige;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        @include fw.mq("tab"){
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }

  &.is-open{
    .p-gmenu{
      left: calc(100% - fw.sp-vw( 160 ));
    }
  }
}
