@charset "UTF-8";
/*=============================
プライバシーポリシー
=============================*/
@use "../../foundation/forwords" as fw;
@use "sass:math";

.p-privacy{
  width: 100%;
  &__head,
  &__item{
    margin-bottom: fw.rem( 40 );
  }

  &__item{
    width: 100%;

    p,
    ul{
      width: 100%;
      padding-left: fw.rem(16);
    }
    &__secondary{
      padding-left: fw.rem( 16 );
      p,
      ul{
        padding-left: fw.rem(16);
      }
    }

    a{
      width: auto;
      max-width: 100%;
      color: fw.$color--blue;
      text-decoration: underline;
      word-wrap: break-word; /* 古いブラウザ用 */
      overflow-wrap: break-word; /* 標準的な方法 */
      display: inline-block;
    }
  }
  
  &__foot{
    text-align: right;
  }
}