@charset "UTF-8";
/*=============================
フロントページ　Serviceセクション
=============================*/
@use "../../foundation/forwords" as fw;
.p-service{
  &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: fw.rem(60);

    &__title{
      font-size: fw.rem( 24 );
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: fw.rem( 40 );
      gap: fw.rem( 16 );

      &::before,
      &::after{
        border-top: 1px solid;
        content: "";
        width: fw.rem( 40 );
      }
    }
  }
}