@charset "UTF-8";
/*=============================
フロントページ　Serviceセクション
=============================*/
@use "../../foundation/forwords" as fw;
.p-service{
  &__content{
    &:first-of-type{
      margin-bottom: fw.rem( 60 );
    }

    &__title{
      font-size: fw.rem( 24 );
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: fw.rem( 40 );
      gap: fw.rem( 16 );

      &::before,
      &::after{
        border-top: 1px solid;
        content: "";
        width: fw.rem( 40 );
      }
    }

    &__gallery{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
  }
}

//横並びのカードのディレイ設定

/* タブレット: 2列ごとにディレイ */
@include fw.mq("tab"){
  .p-service__content__gallery  .p-serviceCard.c-fadeIn:nth-child(2) {
    transition-delay: .2s;
  }
}

/* PC: 3列ごとにディレイ */
@include fw.mq("pc"){
  .p-service__content__gallery  .p-serviceCard.c-fadeIn:nth-child(3n+2) {
    transition-delay: .2s;
  }
  .p-service__content__gallery  .p-serviceCard.c-fadeIn:nth-child(3n+0) {
    transition-delay: .4s;
  }
}