/*=============================
サイトはこちら
=============================*/
@use "../../foundation/forwords" as fw;
@use "sass:math";

.p-siteLink{
    display: flex;
    justify-content: right;
    ::after{
        content: "";
        display: inline-block;
        width: 36px;
        height: 6px;
        margin-right: fw.rem( 4 );
        background: url(../../../img/siteLinkArrow.png);
        background-size: contain;
    }
}
